<!DOCTYPE html>
<html>
<head>
    <title>Hangman Game</title>
</head>
<body>
    <h1>Hangman Game</h1>
    <p>{{ logo }}</p>
    <p>{{ ' '.join(display) }}</p>
    <p>Lives: {{ lives }}</p>
    <p>{{ stages[lives] }}</p>
    <form action="/guess" method="post">
        <label for="guess">Guess a letter:</label>
        <input type="text" id="guess" name="guess" required>
        <input type="submit" value="Guess">
    </form>
    {% if end_of_game %}
        <p>You {{ 'win' if '_' not in display else 'lose' }}</p>
    {% endif %}
</body>
</html>